<!doctype html>
<html>
<head>
    <title>title liam is dumb</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>

        document.addEventListener("DOMContentLoaded", function(){
            // on search click
            document.querySelector('#search-go').onclick = () => {
                window.open(`/filter/name/${document.querySelector('#search-box').value}`, '_self')
            };
        });
          

        
    </script>
</head>
<body>

    <h1>Do you have no shame?</h1>

    <div class="search">
        <input id="search-box" placeholder="You're a degenerate" type="text" />
        <button id="search-go">Search</button>
    </div>
    
    <div class="quotes">

        {% for q in quotes %}
        <div class="quote">
            <p class="text">{{ q[0] }}</p>
            <p class="author">{{ q[1] }}</p>
        </div>
        {% endfor %}
        
    </div>

    <footer>
        {{quotes|length}} total quotes
    </footer>

</body>
</html>
